.heading {
  h1 {
    font-size: 5rem;
    font-weight: 700;

    @include respond(phone-port) {
      font-size: 4rem;
    }

    background-image: linear-gradient(
      to right,
      #e3fdfd,
      #cbf1f5,
      #a6e3e9,
      #71c9ce
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
}
