.heading {
  display: flex;
  justify-content: center;
  margin: 5rem 0;

  h1 {
    font-size: 5rem;
    font-weight: 700;
    background-image: linear-gradient(
      to right,
      #e3fdfd,
      #cbf1f5,
      #a6e3e9,
      #71c9ce
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
}
