.time {
  display: grid;
  grid-template-columns: [left-start] 1fr [left-end center-start] max-content [center-end right-start] 1fr [right-end];
  align-items: center;
  justify-items: center;
  grid-row-gap: 5dvh;
  grid-column-gap: 15vw;

  @include respond(big-phone) {
    grid-column-gap: 10vw;
  }

  @include respond(small-phone) {
    grid-row-gap: 4dvh;
    grid-column-gap: 7vw;
  }
}

#timerEntry {
  grid-column: center-start;
  grid-row: 1;
}

#increment {
  grid-column: left-start;
  grid-row: 2;
}

#mins {
  color: $color-primary-dark;
  font-size: 30dvh;
  font-weight: 600;

  @include respond(laptop) {
    font-size: 25dvh;
  }

  @include respond(tab-land) {
    font-size: 20dvh;
  }

  @include respond(tab-port) {
    font-size: 15dvh;
  }

  @include respond(big-phone) {
    font-size: 12dvh;
  }

  @include respond(small-phone) {
    font-size: 9dvh;
  }

  grid-column: center-start;
  grid-row: 2;
}

#decrement {
  grid-column: right-start;
  grid-row: 2;
}

#start {
  grid-column: center-start;
  grid-row: 3;
}

#secs {
  font-size: 15dvh;
  font-weight: 200;

  @include respond(laptop) {
    font-size: 12.5dvh;
  }

  @include respond(tab-land) {
    font-size: 10dvh;
  }

  @include respond(tab-port) {
    font-size: 7.5dvh;
  }

  @include respond(big-phone) {
    font-size: 6dvh;
  }

  @include respond(small-phone) {
    font-size: 4.5dvh;
  }

  color: $color-primary;

  grid-column: right-start;
  grid-row: 2;
}

#pause {
  grid-column: center-start;
  grid-row: 3;
}

#reset {
  grid-column: center-start;
  grid-row: 1;
}

#mins,
#increment,
#decrement,
#secs,
#timerEntry,
#start {
  animation: fadeInAnimation 3s;
}
