#timerEntry {
  font-size: 2.5rem;

  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

#increment {
  font-size: 4.5rem;

  @include respond(tab-port) {
    font-size: 4rem;
  }

  grid-column: 1 / 2;
  grid-row: 2 / 3;
  justify-self: right;
}

#mins {
  font-size: 20rem;
  font-weight: 600;
  color: $color-black-dark;

  @include respond(tab-port) {
    font-size: 17rem;
    font-weight: 500;
  }

  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

#decrement {
  font-size: 4.5rem;

  @include respond(tab-port) {
    font-size: 4rem;
  }

  grid-column: 3 / 4;
  grid-row: 2 / 3;
  justify-self: left;
}

#start {
  font-size: 2.5rem;

  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

#secs {
  font-size: 7rem;
  font-weight: 300;
  color: $color-black;

  grid-column: 3 / 4;
  grid-row: 2 / 3;
  justify-self: left;
}

#pause {
  font-size: 2.5rem;

  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

#reset {
  font-size: 2.5rem;

  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

#mins,
#increment,
#decrement,
#secs,
#timerEntry,
#start {
  animation: fadeInAnimation 3s;
}
