*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  // By default the users browser font size is set to 16px.
  font-size: 62.5%;
  // 62.5 percent of 16px = 10px | We need font size of 10px.
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  line-height: 1.6;

  background-image: linear-gradient(
    -45deg,
    #dbe2ef,
    #3f72af,
    #112d4e,
    #033252,
    #0f4c75,
    #3282b8,
    #549ed0
  );

  background-size: 300% 300%;
  animation: gradient 40s ease infinite;
}

.container {
  display: grid;
  grid-template-rows: 10dvh calc(100dvh - 10dvh);
  justify-items: center;
  align-items: center;
}
