*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  // By default the users browser font size is set to 16px.
  font-size: 62.5%;
  // 62.5 percent of 16px = 10px | We need font size of 10px.
}

body {
  font-family: "Nunito";
  font-weight: 300;
  line-height: 1.6;

  background-image: linear-gradient(
    -45deg,
    #dbe2ef,
    #3f72af,
    #112d4e,
    #033252,
    #0f4c75,
    #3282b8,
    #549ed0
  );

  background-size: 300% 300%;
  animation: gradient 40s ease infinite;
}

.time {
  display: grid;
  grid-template-columns: [left-start] 1fr [left-end center-start] max-content [center-end right-start] 1fr [right-end];
  align-items: center;
  justify-items: center;
  grid-row-gap: 5dvh;
  grid-column-gap: 7vw;

  @include respond(tab-port) {
    grid-column-gap: 5vw;
    grid-row-gap: 7dvh;
  }

  @include respond(small-phone) {
    grid-column-gap: 3vw;
    grid-row-gap: 9dvh;
  }
}
