*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  // By default the users browser font size is set to 16px.
  font-size: 62.5%;
  // 62.5 percent of 16px = 10px | We need font size of 10px.

  // @include respond(big-phone) {
  //   font-size: 50%;
  // }
}

body {
  font-family: "Nunito";
  font-weight: 300;
  line-height: 1.6;

  background: linear-gradient(
    -45deg,
    #f11d28,
    #fd3a2d,
    #fe612c,
    #ff872c,
    #ffa12c,
    #fed883,
    #fdb25f,
    #f15b67,
    #cf2967,
    #9f265c,
    #631c48,
    #502c5e,
    #68306e,
    #8f3163,
    #c43e47,
    #f56725,
    #fd9a01,
    #fd6104,
    #ff2c05,
    #f00505
  );
  background-size: 400% 400%;
  animation: gradient 120s ease infinite;
}

.time {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  align-items: center;
  justify-items: center;
  grid-row-gap: 5dvh;
  grid-column-gap: 7vw;

  @include respond(tab-port) {
    grid-column-gap: 5vw;
    grid-row-gap: 7dvh;
  }

  @include respond(small-phone) {
    grid-column-gap: 3vw;
    grid-row-gap: 9dvh;
  }
}
