// * MEDIA QUERY MANAGER
/*
0 - 400px:          Phone portrait
400 - 600px:        Phone Landscape
600 - 800px:        Tablet portrait
800 - 1000px:       Tablet landscape
1000px - 1200px:    Laptop
1200 - 1800:        is where our normal styles apply
*/

//  * $breakpoint argument choices:
/*
- phone-port
- phone-land
- tab-port
- tab-land
- laptop

1em = 16px
*/

@mixin respond($breakpoint) {
  @if $breakpoint == phone-port {
    @media only screen and (max-width: 25em) {
      @content;
    } //400px
  }
  @if $breakpoint == phone-land {
    @media only screen and (max-width: 37.5em) {
      @content;
    } //600px
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 50em) {
      @content;
    } //800px
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 62.5em) {
      @content;
    } // x < 1000px
  }
  @if $breakpoint == tab-land-max {
    @media only screen and (min-width: 62.5em) {
      @content;
    } // x > 1000px
  }
  @if $breakpoint == laptop {
    @media only screen and (max-width: 75em) {
      @content;
    } //1200px
  }
}

@mixin button($type) {
  background-color: $color-primary;

  font-family: "Josefin Sans", sans-serif;
  color: $color-primary-dark;

  border: none;
  border-radius: 0;

  cursor: pointer;

  transition: all 0.3s;

  // * Styling for 'Start', 'Enter Minutes', 'Reset' & 'Pause' buttons
  @if $type == float {
    padding: 2rem;
    font-size: 8dvh;

    @include respond(tab-port) {
      padding: 0.4rem 1.3rem;
      font-size: 7.5dvh;
    }

    @include respond(phone-land) {
      padding: 0rem 1rem;
      font-size: 6dvh;
    }

    @include respond(phone-port) {
      padding: 0 0.5rem;
      font-size: 3.5dvh;
    }

    @include respond(tab-land-max) {
      filter: drop-shadow(2px 2px 10px $color-primary-dark);

      &:hover {
        background-color: $color-primary-darker;
      }

      &:active {
        filter: drop-shadow(0px 0px 0px $color-primary-dark);
      }
    }
  }

  // * Styling for + & - buttons

  @if $type == scale {
    padding: 1.3rem;
    font-size: 5dvh;

    @include respond(tab-port) {
      padding: 1rem;
      font-size: 4dvh;
    }

    @include respond(phone-land) {
      font-size: 3dvh;
    }

    @include respond(phone-port) {
      padding: 0.8rem;
      font-size: 2.5dvh;
    }

    &:hover {
      @include respond(tab-land-max) {
        transform: scale(1.03);
      }
    }
  }
}
