.btn {
  background-color: $color-primary;
  color: #fff;

  border: none;
  border-radius: 2rem;

  padding: 1.8rem 3rem;
  cursor: pointer;

  transition: all 0.3s;

  &--float {
    @include respond(tab-land-max) {
      filter: drop-shadow(2px 2px 10px $color-primary-dark);

      &:hover {
        background-color: $color-primary-darker;
      }

      &:active {
        filter: drop-shadow(0px 0px 0px $color-primary-dark);
      }
    }
  }

  &--scale {
    &:hover {
      @include respond(tab-land-max) {
        font-size: 1.55rem;
        transform: scale(1.05);
      }
    }
  }
}

.hidden {
  visibility: hidden;
}
