.btn {
  background-color: $color-primary;

  font-family: "Josefin Sans", sans-serif;
  color: $color-primary-dark;

  border: none;
  border-radius: 0;

  cursor: pointer;

  transition: all 0.3s;

  // * Styling for + & - buttons
  &--float {
    padding: 2rem;
    font-size: 8dvh;

    @include respond(big-phone) {
      padding: 0.7rem 1.3rem;
      font-size: 7.5dvh;
    }

    @include respond(small-phone) {
      padding: 0.2rem 1.2rem;
      font-size: 6dvh;
    }

    @include respond(tab-land-max) {
      filter: drop-shadow(2px 2px 10px $color-primary-dark);

      &:hover {
        background-color: $color-primary-darker;
      }

      &:active {
        filter: drop-shadow(0px 0px 0px $color-primary-dark);
      }
    }
  }

  // * Styling for 'Start', 'Enter Minutes', 'Reset' & 'Pause' buttons
  &--scale {
    padding: 1.3rem;
    font-size: 5dvh;

    @include respond(big-phone) {
      padding: 1rem;
      font-size: 4dvh;
    }

    @include respond(small-phone) {
      padding: 0.7rem;
      font-size: 3dvh;
    }

    &:hover {
      @include respond(tab-land-max) {
        transform: scale(1.03);
      }
    }
  }
}

.hidden {
  visibility: hidden;
}
